<ion-item-sliding #slidingItem (click)="onStartDoubleClick()" class="item-height">
  <div #shoppingItem>
    <ion-item class="item-full-height">

      <ion-label *ngIf="item[1].name">
        <h2>{{item[1].name}}</h2>
      </ion-label>

      <ion-text class="shopping-list-item-label" *ngIf="item[1].amount" class="ion-padding-start">
        {{item[1].amount}}
      </ion-text>

      <ion-thumbnail [slot]="'end'" *ngIf="item[1].imgUrl || item[1].amount"
        (click)="onItemClick(item[1].name, item[1].imgUrl)">
        <ion-img *ngIf="item[1].imgUrl" [src]="item[1].imgUrl"></ion-img>
      </ion-thumbnail>
    </ion-item>
  </div>

  <ion-item-options side="end">
    <ion-item-option color="secondary" (click)="onEditItem(item, slidingItem)">
      <ion-icon name="create" slot="icon-only"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>